<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
        <div class="container-fluid">
            <!-- Logo ou nome do site -->
            <a class="navbar-brand" href="#">
                <img src="goop_hor_fullcolor_neg_ciano_rgb.353037ab.png" width="166px" height="101px" class="img-fluid"
                    alt="goop">
            </a>

            <!-- Botão de toggle para dispositivos móveis -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Itens da navbar -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/itens">Itens</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>