<footer>
    <div class="bg-primary text-white py-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <p>nossas redes sociais</p>
                <div class="d-flex justify-content-center">
                    <a class="me-3" target="_blank"
                        href="https://www.linkedin.com/company/goop-distribuidora-automotiva-ltda/mycompany/?viewAsMember=true"><img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAAXNSR0IArs4c6QAAAShJREFUSA3tk9FxwjAMhuMc72UERsgGMAIjsAGwQbtBOwGwASPABIQJyAgwQOJ+SiPOpII75/xI7nKyflmfZCXOvPfjuq43TdN43hP+PEv1AN52YIG3LwUmSfgKDC3wVQp4DuRsgCpDi5dkxmHXrPfxFDvDidzNWD5k5ZxLBrdLJlIdXc9gTUMe3X+pz9/0mee5Vx97JH6Q0zLCJetCY6zl1DvstdUkuTfzEJT1Y7If8KKvB/6FeFtQ/paoh66mJG9eJE00Hg0HOnsB1lAh3Y/Ui7Uk//AtSsZRcJoF+R8hA30+CA5sDfhbYRQqdRSqsacYMpYbiXdwB9srNLDjIfAyALRLil37mvhD4BbH1N7w91jMCZjiiJtWcbuOZvRPfIjJbXyy99++X38p5ivOUIX3AAAAAElFTkSuQmCC"
                            alt="Linkedin"></a>
                    <a class="me-3" target="_blank" href="https://www.facebook.com/goopautomotiva"><img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAaCAYAAABsONZfAAAAAXNSR0IArs4c6QAAAKtJREFUOBFjYMAC/v//LwDE9f/+/dsPxP/RMSO6HqiG80BxBXQ5GJ8JxoDRQE0LgGwFGB8bjWETyCnYFCKLodgEtMUBWRLKfsjIyKjIxMTECMdYFKELPQBqeoAsiGITsgQ+Nv00MRITWshOBQZWI32cBwz2B+TY9IARLUINgPx+ZD8A2ReB8VSAJHaBBShwACYA1ABjItMfkNWAJMhx3qgmWJAOx9CD+Y0kGgD6/0rUfHgjhwAAAABJRU5ErkJggg=="
                            alt="facebook"></a>
                    <a target="_blank" href="https://www.instagram.com/goopautomotiva/"><img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAlFJREFUSA2tlY1x2kAQhQW4AHUQdWA6iFJB1EFUAiWkg6SDKBWEVIBSAUoFxhVYDQD53nlXHOLEgJ2budm/t/t2706QZaN1PB7L/X7/43A4PLGPd+wted/IX45KnkyCOQU3dxSdbEBkp8qmGcHWCQA1+KqrXUVVhBOe/NZrIDcRJMuiYH9r4bMCkUF+Tb1eZDT7NYRwlnJov5fAuYzIaxaZjsZYGwe9RVKjYw9HZLYaXz3MZrNSRefzeSOZWgBz/J9JLMEX2B34Fv234/G16H1kr4k/4q90Hz5W8ukJBObFcSP5RPxanmq3D84Ma+e6SxGwf5n9jL5G79kF+EoS34b9KZEv3Ovyztx2SWJOLExgTzr3mCTxgrjuQd0Od+EY4v6g2uG4POgS0MoK7ETo/lgaUfK4Y5J5nBTrAslG6gJPo0cg/DvMP3LRUCWZWpMkgL37JIEXo4nW9Sl5jcSLO1myBtOUCvCkHX+BmyQheS008gvdFheZOPAvER8tFvAp3OTFC8w57+zyt2MiERDz7+eCgHhpuafvJNUBU+g7aYnpV3ZLkr7yTgTsynL+4qtNTwtjI2fyy1XH/j2E5+o5IiUvT1VWE4YLkzwD+sAu2B37bKlzHOpc45ce5KL1tC/wHge7JC6z/2+/wl7cJSThPmmuDi/ExsIeztmxb5L6s7KaPTVfjxPnd3O+vJcoIlDTK3UZDk0KJDrfR+msjvNsJGXcuEqK1mAL4dF/LhaLWvrZiiYav6J7bB1RmMCLD5O4A0CBXiEr990oe6ZvwTbIPs75Bw+MOni4dg1PAAAAAElFTkSuQmCC"
                            alt="instagram"></a>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <p class="margin-top-mobile" style="font-size: 20px;"> GOOP Distribuidora Automotiva Ltda. <br>Rua
                    Guaranésia, 756 <br>02112-001 - Vila Maria, São Paulo/SP, Brasil <br>Telefone: +55 11 2634-1788 </p>
            </div>
        </div>
    </div>
    <div>
        <p class="text-center">Copyright © 2021 Goop</p>
    </div>
</footer>